[Unit]
Description=pogolo - decentralize or die
After=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/pogolo --conf /etc/pogolo/pogolo.toml
TimeoutStopSec=5
Restart=on-failure
RestartSec=15

# /etc/pogolo
ConfigurationDirectory=pogolo
ConfigurationDirectoryMode=0755

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true

PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid

ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict

RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
RestrictSUIDSGID=true

SystemCallArchitectures=native
# debug for profiling
SystemCallFilter=@basic-io @network-io @debug

[Install]
WantedBy=multi-user.target
